header {
	position: fixed;
	font-family: Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	background-color: #FFF;


}

.burger-menu {
	min-width: 1em;
	padding: 1em;


}

.subscribe {
	background-color:gold;
	color:#383f4e;
	padding:1em;


}

.logo img {
	max-height: 1em;
	
}



a {
	text-decoration: none;
}