header {
	position: fixed;
	font-family: Helvetica, Arial, sans-serif;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around; /*WTF PK TU MARCHES PAS */
	/*max-width: 100%;*/


}

.burger-menu {
	min-width: 1em;
	padding: 1em;

}

.subscribe {
	background-color:gold;
	color:#383f4e;
	padding:1em;

}

.logo img {
	max-height: 1em;
}



a {
	text-decoration: none;
}